

<div class="row" id="row">
  <div class="col s10">
    <div class="input-field col s4">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput id="inputUserName" placeholder="Username">
      </mat-form-field>
    </div>
    <div class="input-field col s4">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="inputEmail" placeholder="Email" >
      </mat-form-field>
    </div>
    <div class="input-field col s4">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="inputPassword" placeholder="Password" >
      </mat-form-field>
    </div>
  </div>
</div>
<button mat-raised-button color="primary" (click)="registerUser()">Registrarse</button>



