<p>
  <mat-toolbar  color="primary">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <button [routerLink]="['/register']">Registrarse</button>
  <button [routerLink]="['/usuario']">User</button>

</p>


<input type="text" id="inputUser">
<input type="text" id="inputPassword">
<button mat-stroked-button id="buttonLogin" color="primary">Login</button>




